@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind utilities;

@theme {
  /* background colors */
  --color-bg-base: oklch(0.1149 0 0);
  --color-bg-surface-primary: oklch(0.1684 0 0);
  --color-bg-surface-hover: oklch(0.1913 0 0);
  --color-bg-elevated-primary: oklch(0.2178 0 0);
  --color-bg-elevated-hover: oklch(0.2393 0 0);
  --color-bg-elevated-secondary: oklch(0.2603 0 0);

  /* text colors */
  --color-primary: oklch(0.9067 0 0);
  --color-secondary: oklch(0.7476 0 0);
  --color-muted: oklch(0.5795 0 0);
  --color-disabled: oklch(0.36 0 0);
  --color-unchanged: oklch(0.1684 0 0);

  /* border colors */
  --color-border-primary: oklch(0.2603 0 0);
  --color-border-secondary: oklch(0.36 0 0);
  --color-border-tertiary: oklch(0.4386 0 0);
  --color-border-active: oklch(0.5103 0 0);

  /* brand colors */
  --color-brand-primary: oklch(0.6341 0.251763 29.7254);
  --color-brand-secondary: oklch(0.5868 0.2326 29.7);

  /* pill colors */
  --color-aqua-primary:oklch(0.874 0.1455 202.51);
  --color-aqua-background:oklch(0.2502 0.0401 205.83);
  --color-yellow-primary:oklch(0.9376 0.1942 104.83);
  --color-yellow-background:oklch(0.269 0.0529 103.04);
  --color-violet-primary:oklch(0.5517 0.2841 296.42);
  --color-violet-background:oklch(0.1649 0.0886 298.76);
  --color-crimson-primary:oklch(0.6332 0.2526 22.27);
  --color-crimson-background:oklch(0.1906 0.0672 13.09);
  /* font styles */
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-bg-base);
  margin: 0;
}

.rounded-14 {
  border-radius: 14px;
}
.rounded-20 {
  border-radius: 20px;
}

/* 2XL — 24px */
.size-2xl-400 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
}
.size-2xl-500 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.01em;
}
.size-2xl-600 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.01em;
}

/*XL — 20px */
.size-xl-400 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}
.size-xl-500 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}
.size-xl-600 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
}

/*L — 18px */
.size-l-400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
.size-l-500 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
}
.size-l-600 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
}

/*M — 16px */
.size-m-400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.size-m-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}
.size-m-600 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

/*S — 14px */
.size-s-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
}
.size-s-500 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0025em;
}
.size-s-600 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.0025em;
}

/*XS — 12px */
.size-xs-400 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.size-xs-500 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.size-xs-600 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.01em;
}

/*2XS — 10px */
.size-2xs-400 {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.015em;
}
.size-2xs-500 {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.015em;
}
.size-2xs-600 {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.015em;
}

.logo-text {
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  line-height: 30px;
  letter-spacing: -0.05em;
}


.custom-scroll::-webkit-scrollbar-button {
  display: none;
}
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: oklch(0.5795 0 0); /* change color */
  border-radius: 999px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: oklch(0.9067 0 0);
}