@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind utilities;

@theme {
  /* background colors */
  --color-bg-base: oklch(0.1149 0 0);
  --color-bg-surface-primary: oklch(0.1684 0 0);
  --color-bg-surface-hover: oklch(0.1913 0 0);
  --color-bg-elevated-primary: oklch(0.2046 0 0);
  --color-bg-elevated-hover: oklch(0.2264 0 0);

  /* text colors */
  --color-primary: oklch(0.9067 0 0);
  --color-secondary: oklch(0.7476 0 0);
  --color-muted: oklch(0.5795 0 0);
  --color-disabled: oklch(0.36 0 0);
  --color-unchanged: oklch(0.1684 0 0);

  /* border colors */
  --color-border-primary: oklch(0.2603 0 0);
  --color-border-secondary: oklch(0.36 0 0);
  --color-border-tertiary: oklch(0.4386 0 0);
  --color-border-active: oklch(0.5103 0 0);

  /* brand colors */
  --color-brand-primary: oklch(0.9551 0 0);
  --color-brand-secondary: oklch(0.9249 0 0);

  /* pill colors */
  --color-cyan-primary: oklch(0.8442 0.145654 209.2851);
  --color-cyan-secondary: oklch(0.2032 0.0349 208.04);
  --color-cyan-background: oklch(0.2414 0.041262 205.4934);
  --color-yellow-primary: oklch(0.8555 0.174878 88.0084);
  --color-yellow-secondary: oklch(0.4415 0.0902 90.38);
  --color-yellow-background: oklch(0.2113 0.0434 94.54);
  --color-green-primary: oklch(0.8722 0.251776 148.1033);
  --color-green-secondary: oklch(0.4457 0.1246 149.37);
  --color-green-background: oklch(0.2101 0.0522 154.76);
  --color-red-primary: oklch(0.6288 0.2565 27.39);
  --color-red-secondary: oklch(0.3214 0.1304 25.27);
  --color-red-background: oklch(0.1516 0.0608 18.69);

  /* font styles */
  --font-sans: "Inter", sans-serif;

  /* background gradient colors */
  --color1: 199, 215, 219;
  --color2: 50, 74, 82;
  --color3: 244, 247, 247;
  --color4: 88, 123, 130;
  --color5: 58, 78, 90;
  --color-interactive: 88, 123, 130;
  --circle-size: 80%;
  --blending: hard-light;
}

body {
  background-color: var(--color-bg-base);
  margin: 0;
}

.rounded-14 {
  border-radius: 14px;
}
.rounded-20 {
  border-radius: 20px;
}
.rounded-10 {
  border-radius: 10px;
}
/* 3XL — 36px */
.size-3xl-400 {
  font-size: 36px;
  font-weight: 200;
  line-height: 48px;
  letter-spacing: -0.02em;
}
.size-3xl-600 {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.02em;
  font-style: italic;
}

/* 2XL — 24px */
.size-2xl-400 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
}
.size-2xl-500 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.01em;
}
.size-2xl-600 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.01em;
}

/*XL — 20px */
.size-xl-400 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}
.size-xl-500 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}
.size-xl-600 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
}

/*L — 18px */
.size-l-400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
.size-l-500 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
}
.size-l-600 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
}

/*M — 16px */
.size-m-400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.size-m-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}
.size-m-600 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

/*S — 14px */
.size-s-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0025em;
}
.size-s-500 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0025em;
}
.size-s-600 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.0025em;
}

/*XS — 12px */
.size-xs-400 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.size-xs-500 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.size-xs-600 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.01em;
}

/*2XS — 10px */
.size-2xs-400 {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.015em;
}
.size-2xs-500 {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.015em;
}
.size-2xs-600 {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.015em;
}

.logo-text {
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 23px;
  letter-spacing: 0em;
  color: #c0c0c0;
}

.logo-text {
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 23px;
  letter-spacing: 0em;
  color: #c0c0c0;
}

.dragging {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  cursor: grabbing;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-border-tertiary);
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-border-secondary);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.glass {
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
}
